/* reset/main */
@import './components/reset.css';
@import './components/layout.css';
/* 3rd party components */
/* your components */
@import './components/button.css';
@import './components/faq.css';
@import './components/footer.css';
@import './components/form.css';
@import './components/gallery.css';
@import './components/header.css';
@import './components/hero-home.css';
@import './components/pricing.css';
@import './components/testimonials.css';

/*
***********************************************
CUSTOM HOME PAGE STYLES GOES BELOW THIS COMMENT
***********************************************
*/

/* main style */
/* header */
/* hero */
/* about */
.triple {
    display: grid;
    grid-template-columns: 300px 300px 600px;
}
h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 26px;
}
p {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    line-height: 26px;
}
p.margin {
    margin-bottom: 26px;
}
/* about video */
.double {
    display: grid;
    grid-template-columns: 600px 600px;
}
/* counter */
/* services */
/* projects */
/* news */
/* partners */
/* how */
/* blog */
/* contact */
/* footer */
/* chat */