
.product-card .shop-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.product-card h3 {
    font-size: 24px;
    margin: 15px 20px;
}
.product-card .shop-price {
    display: block;
    font-size: 20px;
    text-align: center;
}

.product-card .btn.btn-oval-shop {
    display: block;
    width: 70%;
    margin-left: 15%;   
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(-41deg,#09c778, #019ef9);
    margin-top: 15px;
    float: none;    
    opacity: 0.75;  
    
}
.product-card .btn.btn-oval-shop:hover {
    opacity: 1;  

}

.btn.btn-oval-shop a {
    color: #ffffff;
    text-decoration: none;
    text-align: center; 
    }

.shop-block {
    text-align: center;
    box-shadow: 0 0 10px #00000030;
}

 .hero-header {
     grid-column: 6 / 7;
    text-align: center;
    font-size: 40px;
    color: white;
}
 .shop-link {
     display: inline-block;
     grid-column: 6 / 7;
     font-size: 24px;
     text-align: center;
     color: white;
     text-decoration: none;
}
.shop-link > p {
    display: inline-block;
    grid-column: 6 / 7;
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
}
    .shop-link > p > a {
        display: inline-block;
        grid-column: 6 / 7;
        font-size: 18px;
        text-align: center;
        color: white;
        text-decoration: none;
    }
             .ashop:hover {
                                color: grey;
                transition: 0.5s;
            } 
    