/* Create class .btn which includes:
btn white -> transparent
btn transparent -> white
btn learn more
btn play (about video section)
btn send (news subsection)
btn submit now
All buttons must have hover effects */

.btn {
    position: relative;
    display: inline-block;
    float: left;
    padding: 10px 30px;
    /* is ::root reikės bendrą spalvą priskirt */
    background: #ffffff;
    color: #ffffff;
    text-decoration: none;

    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #ffffff;
    cursor: pointer;
    
}


/* HERO BUTTONS */

/* btn hero-btn1 */

    .btn.hero-btn1 {   
        border-radius: 30px;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        color: #01a0f9;
        /* -property -duration -timing-function -delay */
        transition: all 0.4s ease 0s;
        }

        .btn.hero-btn1:hover {
            color: #ffffff;
            background-color: transparent;
        }

/* btn hero-btn2 */

    .btn.hero-btn2 {
        margin-left: 10px;
        border-radius: 30px;
        border: 1px solid #ffffff;
        background-color: transparent;
        /* -property -duration -timing-function -delay */
        transition: all 0.4s ease 0s;
    }

        .btn.hero-btn2:hover {
            background-color: #ffffff;
            color: #01a0f9;
        }



/* OTHER */

/* OVAL form and with gradient */

    /* first type:
    LEARN MORE, READ MORE, CHECK IT OUT, Submit ChatBot'e),
    CREAT ACCOUNT, DOWNLOAD, DOWNLOAD NOW, REQUEST A DEMO,
    ADD TO CART, APPLY CUPON, UPDATE CART, Proceed to checkout,
    CONTINUE TO PAYMENT, POST COMMENT
    */


/* button classes   */
/* btn btn-oval-standart btn-hover-side */

    .btn.btn-oval-standart {
        position: relative;
        border-radius: 30px;
        border: none;
        background-image: linear-gradient(-41deg,#09c778, #019ef9);
        z-index: 1;
    }

        .btn.btn.btn-oval-standart::before {
            border-radius: 30px;
            background-image: linear-gradient(41deg, #09c878, #019ef9);
            /* padarome sublyksejima, keiciant vidinio seselio skaidruma */
            box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.7) inset;
            /* -property -duration -timing-function -delay */
            transition: all 0.7s ease 0s;
        }

            .btn.btn.btn-oval-standart:hover::before {
                box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.0) inset;
            }


    /* second type: for Submit (COMING SOON page) */
    /* btn btn-oval-sub1 btn-hover-side */

    .btn.btn-oval-sub1 {
        position: relative;
        border-radius: 30px;
        border: none;
        background-image: linear-gradient(-41deg,#09c778, #019ef9);
        z-index: 1;
    }

        .btn.btn-oval-sub1::before {
            border-radius: 30px;
            background-color: #01a0f9;
            box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.7) inset;
            transition: all 0.7s ease 0s;
        }

            .btn.btn-oval-sub1:hover::before {
                box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.0) inset;
            }

    
/* (Pages->Download) */
/* half rect-circle: Submit */
/* btn btn-rect-circle-sub1 btn-hover-side */

    .btn.btn-rect-circle-sub1 {
        position: relative;
        color: #666666;
        border-radius: 0 50px 50px 0;
        background-color: #ffffff;
        z-index: 1;
    }

        .btn.btn-rect-circle-sub1::before {
            color: #666666;
            border-radius: 0 50px 50px 0;
            background-image: linear-gradient(-41deg, #09c878, #019ef9);
            box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.7) inset;
            opacity: 0;
            transition: all 0.7s ease 0s;
        }

            .btn.btn-rect-circle-sub1:hover::before {
                box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.0) inset;

            }



/*  Differnt BUY NOW buttons (rectangle form):
visible at first with gradient, BASIC, BEGINNER,
TRAINER, STARTUP */

/* buttons types: */
/* btn btn-buy btn-buy-standart btn-hover-side */
/* btn btn-buy btn-buy-basic btn-hover-side */
/* btn btn-buy btn-buy-beginner btn-hover-side */
/* btn btn-buy btn-buy-trainer btn-hover-side */
/* btn btn-buy btn-buy-startup btn-hover-side */

    .btn.btn-buy {
        position: relative;
        border-radius: 3px;
        /* border: 2px solid black; */
        background-color: #dd8507;
        z-index: 1;
        border:none;
    }

        .btn.btn-buy::before {
            border-radius: 3px;
            background-image: linear-gradient(41deg, #09c878, #019ef9);
            transition: all 0.7s ease 0s;
        }

    .btn.btn-buy-standart {
        background-image: linear-gradient(-41deg, #09c878, #019ef9);
    }
        .btn.btn-buy-standart::before {
            box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.7) inset;
        }
            .btn.btn-buy-standart:hover::before {
                box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.0) inset;
            }

    .btn.btn-buy-basic {
        background-color: #007bff;
    }

    .btn.btn-buy-beginner {
        background-color: #dd8507;
    }

    .btn.btn-buy-trainer {
        background-color: #09c778;
    }

    .btn.btn-buy-startup {
        background-color: #6610f2;
    }

        .btn.btn-hover-side::before {
            position: absolute;
            content: ""; /* butinas, nes kitaip neiterps sio elemento */
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            z-index: -1;

            /* Sio elemento opacity sluoksnis siuo atzvilgiu atsiduria po kitu
            sluoksiu, kurio z-index:1. Bet su Before iskialeme ji i prieki,
            o tuo metu jis yra skaidrus. Keičiantis skaidrumui, jis pasirodo :)
            Be opacity tolygus perejimas neveikia, butinas! */
            opacity: 0;
        }

            .btn.btn-hover-side:hover::before {
                opacity: 1; 
                }


/* Rectangle form buttons*/

    /* SUBMIT NOW (WHITE button) */
    .btn.btn-rect-sub1 {
        padding: 1px 6px;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        margin:0;
        color: #333333;
        transition: all 0.4s ease 0s;
    }

        .btn.btn-rect-sub1:hover {
            color: #20c997;
        }


    /* SUBMIT NOW (BLACK button) */
    .btn.btn-rect-sub2 {
        padding: 1px 6px;
        border: none;
        border-radius: 3px;
        background-color: #333333;
        width: 100%;
        height: 100%;
        margin:0;
        color: #ffffff;
        transition: all 0.4s ease 0s;
    }

        .btn.btn-rect-sub2:hover {
            color: #28a745;
        }


    /* LOGIN NOW */
    .btn.btn-rect-log {
        position: relative;
        width: 100%;
        height: 100%;
        margin:0;
        background-image: linear-gradient(-41deg,#09c778, #019ef9);
        z-index: 1;
    }

        .btn.btn-rect-log::before {
            position: absolute;
            content: ""; /* butinas, nes kitaip kaip iterpti */
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-image: linear-gradient(41deg, #09c878, #019ef9);
            z-index: -1;

            /* padarome sublyksejima, keiciant vidinio seselio skaidruma */
            box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.7) inset;

            /* Sio elemento opacity sluoksnis siuo atzvilgiu atsiduria po kitu sluoksiu, kurio z-index:1.
            Bet su Before iskialeme ji i prieki, o tuo metu jis yra skaidrus. Keičiantis skaidrumui, jis pasirodo :) */
            opacity: 0;

            /* -property -duration -timing-function -delay */
            transition: all 0.7s ease 0s;
        }

            .btn.btn-rect-log:hover::before {
                opacity: 1; 
                box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.0) inset;

            }


    /* CREATE AN ACCOUNT */
    .btn.btn-rect-crAc {
        position: relative;
        border-radius: 4px;
        border: 1px solid #6c757d;
        width: 100%;
        height: 100%;
        margin:0;
        background-color: #ffffff;
        z-index: 1;
        transition: all 0.7s ease 0s;
    }

        .btn.btn-rect-crAc::before {
            position: absolute;
            border-radius: 2px;
            content: ""; /* butinas, nes kitaip kaip iterpti */
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-image: linear-gradient(41deg, #09c878, #019ef9);
            z-index: -1;

            /* padarome sublyksejima, keiciant vidinio seselio skaidruma */
            box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.7) inset;

            /* Sio elemento opacity sluoksnis siuo atzvilgiu atsiduria po kitu sluoksiu, kurio z-index:1.
            Bet su Before iskialeme ji i prieki, o tuo metu jis yra skaidrus. Keičiantis skaidrumui, jis pasirodo :) */
            opacity: 0;

            /* -property -duration -timing-function -delay */
            transition: all 0.7s ease 0s;
        }

            .btn.btn-rect-crAc:hover::before {
                opacity: 1; 
                box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.0) inset;

            }
            .btn.btn-rect-crAc:hover {
                border: 1px solid #17a2b8;
            }




/* button: DESCRIPTION (Shop Single/Product page), without Hover! */
    .btn.btn-rect-grad {
        padding: 17px 43px;
        border: none;
        background-image: linear-gradient(-41deg, #09c878, #019ef9);
        width: 100%;
        height: 100%;
        margin:0;
    }

/* button: REVIEWS (Shop Single/Product page)*/
    .btn.btn2-rect {
        position: relative;
        color: #333333;
        padding: 17px 43px;
        border: 1px solid #019ef9 ;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        margin:0;
        z-index: 1;
        transition: all 0.7s ease 0s;
    }

        .btn.btn2-rect::before {
            position: absolute;
            content: ""; /* butinas, nes kitaip kaip iterpti */
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            /* border: none; */

            background-image: linear-gradient(-41deg, #09c878, #019ef9);
            z-index: -1;
            opacity: 0;

            /* -property -duration -timing-function -delay */
            transition: all 0.7s ease 0s;
        }

            .btn.btn2-rect:hover::before {
                opacity: 1;
                }

            .btn.btn2-rect:hover {
                border: 1px solid #ffffff;
                color: #ffffff;
            }




/* PRADEDAM NUO CIA */

    .btn.btn.btn-circle > .fa.fa-arrow-right {
        position: absolute;
        display: inline-block;
        /* text-align: center; */
        color: #ffffff;
        font-size: 20px;
        width: 25px;
        line-height: 10px;
        top:35%;
        padding:0;
        right:18%;
        /* transform: translate(-50%, -50%); */

        transform: rotate(-45deg);
        /* bottom:0;
        right: 0; */
        /* vertical-align:middle; */
    }

    .btn.btn-circle {
        /* content: ''; */
        position: relative;
        padding: 10px;
        margin: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        vertical-align: center;
        align-self:center;

        line-height: 40px;
    font-size: 20px;
    text-align: center;
        /* font-size:0; */
        z-index:1;
        /* background-color: hsl(0, 100%, 50%); */
        /* opacity: 1; */

        background-image:linear-gradient(-41deg, #09c778, #01a0f9);
    }

    .btn.btn-circle::before {
        /* display: block; */
        position: absolute;
        border-radius: 50%;
        content: "";
        /* "\f061" */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        line-height: 38px;
    font-size: 20px;
    /* color: rgb(0, 0, 0, 0.5); */
    background-size: cover;
    background-attachment:initial;
        opacity: 0;

        background-image: linear-gradient(41deg, rgba(9, 200, 120), rgba(1, 158, 249));
        z-index: -1;
        box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.7) inset;
        transition: all 0.7s ease 0s;
    }

        .btn.btn-circle:hover::before {
            opacity: 1; 
            /* background-image: linear-gradient(41deg, rgb(9, 200, 120, 1), rgb(1, 158, 249, 1)); */

            box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.0) inset;

        }




/* "LOGIN NOW" */
.btn.btn-full-rect {
    padding: 10px 30px;
    background: linear-gradient(41deg, #09c778, #01a0f9);


}


.btn.btn-rect {
    padding: 1px 6px;
    border: none;
    background-color: #019ef9;
    width: 100%;
    height: 100%;

}

/* .row .news {
    position: relative;
} */



/* "LOGIN NOW" */
.btn.btn-full-rect {
    padding: 10px 30px;
    background: linear-gradient(41deg, #09c778, #01a0f9);


}


/* pusiau kvad ir circle

prie Subscribe For Newsletter (DOwnload puslapis)
SUBMIT (balto fono -> i gradienta)
*/


/* Dazniausios formos. Su gradientu,  border-radius: didelis

Hero dalyje:
LEARN MORE - be gradiento
JOIN NOW - be gradiento

Kiti:
READ MORE
CREAT ACCOUNT
SUBMIT/Submit
DOWNLOAD NOW
POST COMMENT
REQUEST A DEMO
CHECK IT OUT
CHECK OUT
VIEW CART
ADD TO CART
UPDATE CART
APPLY CUPON
CONTINUE TO PAYMENT
LET'S START A CHAT
Proceed to checkout

tik paspaudus keiciasi:
Machine Learning
Deep Learning
Artificial Intelligence
*/


/* circle:

Enter your email (su rodykle i N-E, fontaw. Yra dvieju tipu rodyles)
Video (video fontawesome)
*/


/* spalvotas,  border-radius: mazas

BUY NOW (skirtingos spalvos: Standartinis, Basic, Beginner, Trainer, Startup)
*/


/* staciakampio formos

LOGIN NOW (su gradientu)
CREATE AN ACCOUNT (baltas/persvieciamas -> su gradientu)
DESCRIPTION (sugradientu, nieko nedaro uzhovirinus)
REVIEWS (baltas su gradientiniu border)

SUBMIT NOW ! (baltas -> hoverinasi teksto spalva i gradientine sp.)
SUBMIT NOW ! (tamsus -> hoverinasi teksto spalva)
*/


        
        
