footer.container {
    padding-top: 90px;
    background-image: url(/img/bg/footer-bg.jpg);
}


    h4 {
        margin: 0px 0px 40px;
        font-weight: 30;
        text-transform: uppercase;
    }
    p.footer {
        font-size: 15px;
        
    }

    .footer-link {
        display: block;
        text-decoration: none;
        color:grey;
        padding: 5px;

        }
        .copyRight > p > a {
            text-decoration: none;
            color: #666666;
        }
        .copyRight > p > a:hover {
            color: blue;
        }