/*********************preHEADER*******************/
.container > .row > .preHEAD {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 0;
    border-bottom: 1px solid rgba(4,148, 227,.7);
}
    
.leftPreHeader {
    text-decoration: none;
            color: white;
}
    .leftPreHeader > .preheadercontacts {
    display:inline-block;
    margin-right: 10px;
    }
        .leftPreHeader > .preheadercontacts i {
            color: white;
            vertical-align: baseline;
            margin-right: 5px;
        }
        .leftPreHeader > .preheadercontacts a {
            text-decoration: none;
            color: white;
        }

.rightPreHeader{

    }
    .rightPreHeader > .preheadersocials {
        float: right;
    }
    .container > .row > .preHEAD >.rightPreHeader > .preheadersocials > a {
        margin-left: 10px;
        text-decoration: none;
        color: white;
    }
    /*********************HEADER*******************/
    .container > .row > .HEAD {
        display: grid;
        grid-template-columns: 3fr 9fr;
    }
    /*    top: 0;  *****Galivas variantas sticky padarimui headerio + su js papildomos klases priskirimas*****
    width: 100%;
    background-color: aqua;
    padding: 10px 50px;
    position: fixed;
    left: 0px;
    z-index: 999;/*

    /*********HEADER LOGO********/
    .headerLEFT > .header-logo {
        
    }
    #neuron-white-logo {
        margin: 0;
    } 
    /************HEADER MENU***********/
    .container > .row .headerRight {
        text-align: right;
        align-self: center;
    }
    .container > .row > .headerRight > .headerMenu{
        display: inline-block;
    }
    .headerMenu > .main-menu {
        display: inline-block;
    }
    
    .headerMenu > .main-menu > a {
        margin-left: 20px;
    }
    .headerMenu > .main-menu > .dropdown {
        position: relative;
        display: inline-block;
        height: 40px;
        cursor: pointer;
    }
    .headerMenu > .main-menu > .dropdown > .dropdown-cont {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: white;
        width: 250px;
        min-width: 160px;
        box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.06);
        padding: 10px 0;
        /*z-index: 1;*/
        margin-top: 20px;
        height: 0;
    }
    .headerMenu > .main-menu > .dropdown:hover .dropdown-cont{
        display: block;
        transition: all 1s ease-in 0s;
        visibility: visible;
        opacity: 1;
        height: 150px;
      }
      .headerMenu > .main-menu > .dropdown > .dropdown-cont > a {
          text-decoration: none;
          width: 100%;
          display: block;
          text-align: left;
          padding: 10px 20px;
          font-weight: 600;
          color: black;
          transition: all 1s ease-in 0s;
      }
      .headerMenu > .main-menu > .dropdown > .dropdown-cont > a:hover {
          color: blue;
      }


  /*************************************************/
    .headerMenu > .header-icon-bar > a {
        margin-left: 10px;
    }
    .headerMenu > .header-icon-bar{
        display: inline-block;
        margin-left: 10px;
    }