/* @media (max-width: 1080px) {
    .container {
        grid-template-columns: 1fr 780px 1fr;
        gap: 20px;
    }
    .grey .block {
       grid-column: 2 / 3;
    } 
}

@media (max-width: 860px) {
    .container {
        grid-template-columns: 1fr 640px 1fr;
    }
    .grey .block {
       
        
    
    }



} */
