/* reset/main */
@import '../components/reset.css';
@import '../components/preload.css';
@import '../components/layout.css';
/* 3rd party components */
/* your components */
@import '../components/button.css';
@import '../components/faq.css';
@import '../components/footer.css';
@import '../components/form.css';
@import '../components/gallery.css';
@import '../components/header.css';
@import '../components/hero-home.css';
@import '../components/menu.css';
@import '../components/preload.css';
@import '../components/pricing.css';
@import '../components/testimonials.css';
@import '../home-page.css';

/*
***********************************************
CUSTOM HOME PAGE STYLES GOES BELOW THIS COMMENT
***********************************************
*/
.margin-top {
    margin-top: -60px;
}
/* main style */
h2, h3 {
    color: #333333;
    line-height: 1.3;
}
h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 26px;
}
h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
h4 {
    font-weight: 600;
    font-size: 20px;
}
p {
    font-size: 20px;
    color: #666666;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 26px;
}
.margin-0 {
    margin: 0;
}
/* header */
body > .bg {
    background-image: url(../../img/features-page/bg.jpg);
    background-size: contain;
    margin-bottom: 140px;
}
/* features-page */
.container.title {
    gap: 15px;
}
.title {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
.path {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.path > a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
}
.pg {
    display: inline-block;
    padding: 0 5px;
}

/* features */
.center {
    text-align: center;
    padding-top: 40px;
}
.grey {
    background-color: #eff1f8;
    padding: 80px 0;
}
.col-4 > .block {
    background-color: white;
    text-align: left;
    border-radius: 0;
    padding-top: 50px;
}
        .block:hover {
            background: linear-gradient(122deg, rgba(4,160,251,1) 25%, rgba(10,197,121,1) 79%);
            transition: 1s;
        }

        .block:hover > p {
            color: #fff
        }
        .block:hover > h3 {
            color: #fff
        }
.col-4 > .block > h3 {
    padding: 20px 0;
    font-size: 22px;
}
        
img.fea {
    width: 30%;
    height: 35%;
}

/* software demo */
.container.demo-bg {
    background-image: url(../../img/software-demo/software-demo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-blue {
    background: linear-gradient(122deg, rgba(4,160,251,1) 25%, rgba(10,197,121,1) 79%);
}
.col-7 {
    display: flex;
}
.col-6 > img {
    width: 100%;
    height: 100%;
    padding: 20px;
}
.btn > a {
    text-decoration: none;
    color: #fff;
}
.topmargin {
    padding-top: 80px;
}
.col-6.topmargin2 {
    padding-top: 180px;
}
form {
    display: inline-block;
    float: left;
}
form > input{
    display: inline-block;
    float: left;
    margin: 0;
    border-radius: 0;
}
form > input.dark {
    background-color: white;
    opacity: 0.5;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
form > input.light {
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
